---
title: Rhodes Shore Excursions
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  reviews:
    title: Reviews
    output: false
    sort_by: year
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: pages/tours
  values:
    has_form: true
email: your-email@example.com
description: Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for Google search
  results) and in your feed.xml site description.
baseurl: 
url: http://www.rhodesshoreexcursions.com
google_analytics: UA-59077550-1
permalink: pretty
sass:
  style: compressed
plugins:
- jekyll-sitemap
- jekyll-redirect-from
- jekyll-include-cache
exclude:
- ".sass-cache/"
- ".jekyll-cache/"
- gemfiles/
- Gemfile
- Gemfile.lock
- node_modules/
- vendor/bundle/
- vendor/cache/
- vendor/gems/
- vendor/ruby/
- dist
- gulpfile.js
- package.json
- package-lock.json
