@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url("{{- '/css/fonts/pt-serif-v12-latin-regular.eot' | relative_url -}}"); 
    src: local('PT Serif'), local('PTSerif-Regular'),
         url("{{- '/css/fonts/pt-serif-v12-latin-regular.eot?#iefix' | relative_url -}}") format('embedded-opentype'),
         url("{{- '/css/fonts/pt-serif-v12-latin-regular.woff2' | relative_url -}}") format('woff2'),
         url("{{- '/css/fonts/pt-serif-v12-latin-regular.woff' | relative_url -}}") format('woff'),
         url("{{- '/css/fonts/pt-serif-v12-latin-regular.ttf' | relative_url -}}") format('truetype'),
         url("{{- '/css/fonts/pt-serif-v12-latin-regular.svg#PTSerif' | relative_url -}}") format('svg');
         font-display: swap;
  }
  