<footer class="site-footer">

    <div class="site-footer__items-wrapper container">

        <div class="site-footer__info-row">

            {%- assign footer_nav = site.data.navigation.footer -%}

            <div class="site-footer__info-col">
                <h3 class="site-footer__col-title">
                    {{- footer_nav.col_1.title -}}
                </h3>
                <ul class="site-footer__list">
                    {%- for item in footer_nav.col_1.items -%}
                        <li>
                            {%- if item.url and item.url.size > 0 -%}
                                <a href="{{- item.url | relative_url -}}"{% if item.id == page.id %} class="active"{% endif %}>
                                    {{- item.title -}}
                                </a>
                            {%- else -%}
                                    {{- item.title -}}
                            {%- endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>

            <div class="site-footer__info-col site-footer__info-col--middle">
                <div class="site-footer__info-col__middle-wrapper">
                    <h3 class="site-footer__col-title">
                        {{- footer_nav.col_2.title -}}
                    </h3>

                    <ul class="site-footer__list">
                        {%- for item in footer_nav.col_2.items -%}
                            <li>
                                {%- if item.url and item.url.size > 0 -%}
                                    <a href="{{- item.url | relative_url -}}"{% if item.id == page.id %} class="active"{% endif %}>
                                        {{- item.title -}}
                                    </a>
                                {%- else -%}
                                        {{- item.title -}}
                                {%- endif -%}
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>

            <div class="site-footer__info-col">
                <h3 class="site-footer__col-title">
                    <a class="site-footer__title-link{% if page.id == 'contact' %} active{% endif %}" href="{{- 'booking.htm' | relative_url -}}">
                        КОНТАКТЫ
                    </a>
                </h3>
                <ul class="site-footer__list">
                    <li>
                        0030 - 6934596990
                    </li>                    
                </ul>
                <div class="koinonika">
                    <h3 class="site-footer__info-title site-footer__info-title--follow-us">
                        <a href="mailto:request@excursionsrodos.ru">request@excursionsrodos.ru</a>
                    </h3>
                    <div class="koinonika__icons">
                        <a class="koinonika__link koinonika__link--phone" href="{{- 'sightseeing_tours_in_rhodes_greece.htm' | relative_url -}}">
                            {%- include_cached svg/phone.svg -%}
                        </a>
                        <a class="koinonika__link koinonika__link--viber" href="{{- 'sightseeing_tours_in_rhodes_greece.htm' | relative_url -}}">
                            {%- include_cached svg/viber.svg -%}
                        </a>
                        <a class="koinonika__link koinonika__link--whatsapp" href="{{- 'sightseeing_tours_in_rhodes_greece.htm' | relative_url -}}">
                            {%- include_cached svg/whatsapp.svg -%}
                        </a>
                    </div>
                </div>
                <div class="koinonika  _mt-_5rem">
                    <div class="koinonika__icons">
                        <a class="koinonika__link koinonika__link--fatsobiblio" href="{{- 'sightseeing_tours_in_rhodes_greece.htm' | relative_url -}}">
                            {%- include_cached svg/facebook.svg -%}
                        </a>
                        <a class="koinonika__link koinonika__link--sindesi_mesa" href="{{- 'sightseeing_tours_in_rhodes_greece.htm' | relative_url -}}">
                            {%- include_cached svg/linkedin.svg -%}
                        </a>
                        <a class="koinonika__link koinonika__link--telegram" href="https://telegram.org/">
                            {%- include_cached svg/telegram.svg -%}
                        </a>
                        <a class="koinonika__link koinonika__link--vk" href="https://vk.com/">
                            {%- include_cached svg/vk.svg -%}
                        </a>
                    </div>
                </div>

        </div>

        </div>

        <div class="site-footer__bottom-info">
            <div class="site-footer__bottom-info-item site-footer__bottom-info-item--block">
                <a href="{{- 'rhodes-greece-shore-excursions.htm' | relative_url -}}">
                    Privacy - Terms & Conditions
                </a>
            </div>
            <span class="site-footer__bottom-info-item site-footer__bottom-info-item--block">EOT (GNTO) N. 1476E70000137800</span>
            {%- comment -%} <span class="mid-desktop-only mid-desktop-only--inline">&nbsp;</span>
            <span class="site-footer__bottom-info-item">ΓΕΜΗ (G.C.R) N. 000146680620000</span> {%- endcomment -%}
        </div>

        {%- if page.has_emergency == true -%}
            <div class="container">
                <a href="{{- 'covid19-rhodes.htm' | relative_url -}}" class="emergency">
                    <h3 class="emergency__title">
                        COVID-19 RHODES GREECE
                    </h3>
                    <p class="mobile-only mobile-only--block emergency__cta">
                        Read Details
                    </p>
                </a>
            </div>
        {%- endif -%}

        <p class="site-footer__copyright">
            <span class="site-footer__bottom-info-item">@ 1998 - {{ site.time | date: '%Y' }} RhodesShoreExcursions.com</span>
            <span class="mid-desktop-only mid-desktop-only--inline"> | </span>
            <span class="site-footer__bottom-info-item">Rhodes Shore Excursions</span>
        </p>


    </div>

</footer>