<header class="site-header">
    <div class="site-logo">
        <div class="container site-header__container">
            <div class="site-logo__headings">
                <h1 class="site-logo__heading">
                    <a href="{{- '/' | relative_url -}}" class="site-logo__heading-link">
                       ЭКСКУРСИИ ПО РОДОСУ
                    </a>
                </h1>

                <h2 class="site-logo__subheading">
                    <a href="{{- '/' | relative_url -}}" class="site-logo__heading-link site-logo__heading-link--subheading">
                        индивидуальные экскурсии с профессиональными дипломированными гидами - Остров Родос, Греция
                    </a>
                </h2>
            </div>
        </div>
    </div>
</header>

{%- include navigation.html -%}