<header class="site-header">
    <div class="site-logo">
        <div class="container">
            <div class="site-logo__headings">
                <h1 class="site-logo__heading">
                    <a href="{{- '/' | relative_url -}}" class="site-logo__heading-link">
                        RhodesShoreExcursions.com
                    </a>
                </h1>
        
                <h2 class="site-logo__subheading">
                    <a href="{{- '/' | relative_url -}}" class="site-logo__heading-link site-logo__heading-link--subheading">
                        Rhodes Shore Excursions and Rhodes Private Tours in Rhodes Greece
                    </a>
                </h2>
            </div>
        </div>
    </div>    
</header>

{%- include navigation.html -%}