<header class="site-header">
    <div class="site-logo">
        <div class="container">
            <div class="site-logo__headings">
                <h1 class="site-logo__heading">
                    <a href="{{- '/' | relative_url -}}" class="site-logo__heading-link">
                        Туры с гидом по Родосу
                    </a>
                </h1>

                <h2 class="site-logo__subheading">
                    <a href="{{- '/' | relative_url -}}" class="site-logo__heading-link site-logo__heading-link--subheading">
                        Индивидуальные экскурсии с профессиональными дипломированными гидами по греческому острову Родос
                    </a>
                </h2>
            </div>
        </div>
    </div>
</header>

{%- include navigation.html -%}