<nav class="site-nav" id="site-nav">
    <div class="container site-nav__container">
        <div id="site-nav__burger" class="site-nav__item site-nav__item--burger">
            {%- include_cached svg/burger.html -%}
        </div>
        <ul id="site-nav__items" class="site-nav__items" itemscope itemtype="http://www.schema.org/SiteNavigationElement" role="menu">
            {%- for item in site.data.navigation.main.items -%}
                {%- assign sublinks_size = item.sublinks | size -%}

                {%- assign is_active = false -%}
                {%- if item.type == 'single' -%}
                    {%- if item.id == page.id -%}
                        {%- assign is_active = true -%}
                    {%- endif -%}
                {%- elsif item.type == 'parent' -%}
                    {%- if item.parent_name == page.parent -%}
                        {%- assign is_active = true -%}
                    {%- endif -%}
                {%- endif -%}

                {%- if item.parent_name == 'cruises' and page.type == 'tour' -%}
                    {%- assign is_active = true -%}
                {%- endif -%}

                <li role="menuitem" class="site-nav__item{% if is_active %} site-nav__item--active{% endif %}{% if sublinks_size > 0 %} site-nav__item--with-sublinks{% endif %}">
                    <a itemprop="url" href="{{- item.url | absolute_url -}}" class="site-nav__item-link{% if sublinks_size > 0 %} site-nav__item-link--with-sublinks{% else %} site-nav__item-link--no-sublinks{% endif %}">
                        <span itemprop="name">{{- item.title | upcase -}}</span>
                    </a>
                    {%- if sublinks_size > 0 -%}
                        <div class="site-nav__chevron">
                            {%- include_cached svg/chevron-down.html -%}
                        </div>
                    {%- endif -%}
                    {%- if sublinks_size > 0 -%}
                        <ul class="site-nav__subitems">
                            {%- for subitem in item.sublinks -%}
                                <li class="site-nav__item site-nav__item--sublink{% if forloop.last %} site-nav__item--sublink-last{% endif %}" role="menuitem">
                                    <a itemprop="url" href="{{- subitem.url | absolute_url -}}" class="site-nav__item-link site-nav__item-link--sublink">
                                        <span itemprop="name">{{- subitem.title | upcase -}}</span>
                                    </a>
                                </li>
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    </div>
</nav>