
<div id="pop-form-button" class="pop-form-button">
    <a class="fa-layers fa-fw pop-form-button__link">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <rect x="3" y="5" width="18" height="14" rx="2" />
            <polyline points="3 7 12 13 21 7" />
        </svg>
    </a>
</div>

<div id="pop-form" class="pop-form">

    <header class="pop-form__header">
        <span class="pop-form__header-text">Leave a Message</span>
        <span id="pop-form__close" class="pop-form__close">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-x" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#3F51B5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 10l4 4m0 -4l-4 4" />
            </svg>
        </span>
    </header>

    <div class="pop-form__body">
        <form name="sendmail" class="pop-form__form a-contact-form" method="POST" action="sendmail-mobile.php">

            {%- if page.layout == 'home' -%}
                {%- assign from_page = 'Home Page' -%}
            {%- else -%}
                {%- if page.title and page.title.size > 0 -%}
                    {%- assign from_page = page.title -%}
                {%- else -%}
                    {%- assign from_page = page.id | replace: '_', ' ' -%}
                {%- endif -%}
            {%- endif -%}

            <input type="hidden" name="meli_dio" autocomplete="off">

            <input type="hidden" name="the_page" value="{{- page.id -}}">

            <input type="hidden" name="from_page" value="{{ from_page | upcase }}">

            <input type="hidden" name="return_to" value="{{ page.url | remove: '/' }}">

            <div class="pop-form__group">
                <label class="pop-form__label" for="first_last_name">First and Last Name:</label>
                <input class="pop-form__input pop-form__input--text form__input form__input--text" type="text" name="first_last_name" required>
            </div>

            <div class="pop-form__group">
                <label class="pop-form__label" for="e_mail">Email:</label>
                <input class="pop-form__input pop-form__input--text form__input form__input--text" type="email" name="e_mail" required>
            </div>

            <div class="pop-form__group">
                <label class="pop-form__label" for="comments">Comments: Please include:<br>"Excursion Start Location" and "Excursion Date"</label>
                <textarea class="pop-form__input pop-form__input--textarea form__input form__input--textarea" name="comments" cols="30" rows="3" required></textarea>
            </div>

            <label class="visuallyhidden">
                <input type="checkbox" name="meli_tria" tabindex="-1" autocomplete="off">
            </label>

            <div class="g-recaptcha" data-sitekey="6LdjidsZAAAAAE-HVQWObThWTeb2FUi8y3G_izCZ"></div>
            <br/>

            <button type="submit" class="pop-form__submit form__submit">
                Send
            </button>

        </form>
    </div>

</div>