.site-footer {

    background-color: $darkblue; 
    color: #fff;
    padding: .5rem 0;
    padding-bottom: 3rem;
    position: relative;

    @include breakpoint(large) {
        padding-bottom: .5rem;
    }

    &__items-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__copyright {
        padding-top: 16px;
        margin-top: 0;
        text-align: center;
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: .5px;
    }

    &__info {
        padding: .5rem 1rem;
        text-align: center;
        text-transform: uppercase;

        p {
            margin: .8rem 0;
        }

    }

    &__info-row {

        text-align: center;

        @include breakpoint(large) {
            
            @include clearfix;

        }
        
    }

    &__info-link {
        color: #fff;
        text-decoration: none;
    }

    &__info-col {

        margin-top: 8px;
        margin-bottom: 1.8rem;
        font-size: 18px;

        @include breakpoint(large) {
            font-size: 1rem;
        }

        @include breakpoint(larger) {
            font-size: 1.08rem;
        }

        @include breakpoint(large) {
            display: inline-block;
            vertical-align: top;
            text-align: left;
            // font-size: 1rem;
            width: 30%;
            margin-right: 2%;
            &:last-child {
                margin-right: 0;
            }
        }

        &--middle {
            @include breakpoint(large) {
                text-align: center;
            }
        }

        &__middle-wrapper {
            @include breakpoint(large) {
                display: inline-block;
                text-align: left;
            }
        }

        @include breakpoint(semi_large) {
            width: 28%;
            margin-right: 6%;
        }

        @include breakpoint(larger) {
            width: 25%;
            margin-right: 10%;
        }

        p {
            margin-top: 0;
            margin-bottom: 6px;
            line-height: 1.4;
            font-size: 18px;
            letter-spacing: .5px;
        }

        .just-text {
            width: 20rem;
            margin-right: auto;
            margin-left: auto;
            @include breakpoint(large) {
                width: auto;
            }
        }

    }

    &__info-title {
        &--follow-us {
            margin: 0;
            margin-bottom: 1rem;
            a {
                color: #fff;
                font-weight: normal;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__info-link {
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }

    &__info-col-heading {
        margin: 0;
    }

    a[href^="tel:"] {
        color: #fff;
        text-decoration: none;
    }

    &__logo {
        text-align: center;
        margin-top: -1rem;
        margin-bottom: .5rem;
    }

    &__logo-image {
        width: 70px;
    }

    &--bare {
        padding-top: 2rem;
        &.no-content {
            padding-top: 3rem;
            box-shadow: 0 50vh 0 50vh $darkblue;
        }
    }

    &__col-title {
        letter-spacing: .5px;
        font-size: 20px;
        margin: 0;
        margin-bottom: 8px;
        @include breakpoint(large) {
            margin-bottom: 14px;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin-top: 0;
            margin-bottom: 6px;
            line-height: 1.4;
            @include breakpoint(large) {
                margin-bottom: 12px;
            }
            a {
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                letter-spacing: .5px;
                &:hover,
                &.active {
                    color: $yellow;
                }
                @include breakpoint(large) {
                    font-size: 1rem;
                }
                
                @include breakpoint(larger) {
                    font-size: 1.08rem;
                }
            }
        }
    }

    &__bottom-info {
        margin-top: 0;
        margin-bottom: 6px;
        line-height: 1.4;
        font-size: 15px;
        letter-spacing: .5px;
        text-align: center;
        line-height: 1.5;
        @include breakpoint(large) {
            margin-top: 6px;
        }
        &-item {
            display: block;
            margin-bottom: .5rem;
            @include breakpoint(large) {
                display: inline;
            }
            &--block {
                @include breakpoint(large) {
                    display: block;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: #fff;
                &:hover {
                    color: $yellow;
                }

            }
        }
    }

}
