.site-header {
    position: relative;

    &__container {
        max-width: 1200px;
        @include breakpoint(large) {
            padding-left: 14px;
            padding-right: 14px;
        }
    }
}

.site-logo {

    background-color: $darkblue;
    padding: 20px 0;

    &__headings {
        display: inline-block;
    }

    &__heading {
        margin: 0;
        font-size: 22px;
        @include breakpoint(smaller) {
            font-size: 26px;
        }
        @include breakpoint(small) {
            font-size: 32px;
        }
    }

    &__subheading {
        margin: 0;
    }

    &__heading-link {
        text-decoration: none;
        color: $lighterblue;
        &--subheading {
            font-size: 1.375rem;
            color: #fff;
            font-style: italic;
            font-weight: normal;
        }
    }

}
