.koinonika {

    margin-top: 24px;

    a {
        font-size: 1.1rem;
    }

    &__icons {
        display: flex;
        align-items: center;
    }

    &__link {
        display: inline-block;
        background-color: #404040;
        border-radius: 100%;
        padding: 9px 6px;
        transition: background-color .2s linear;
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
        &--fatsobiblio:hover {
            background-color: #3b5999;
        }
        &--titivisma:hover {
            background-color: #55acee;
        }
        &--sindesi_mesa:hover {
            background-color: #55acee;
        }
        &--karfitsoste:hover {
            background-color: #bd081c;
        }
        &--phone {
            padding: 11px 12px;
            margin-right: 18px;
        }
        &--viber,
        &--whatsapp {
            padding: 0;
            background: none;
        }
    }

    &__icon {
        fill: #fff;
        height: 18px;

        &--phone {
            fill: none;
            height: 29px;
            position: relative;
            top: 1px;
        }

        &--viber {
            width: 70px;
            height: 70px;
        }

        &--whatsapp {
            width: 70px;
            height: 70px;
        }
    }

}