.koinonika {

    margin-top: 24px;

    a {
        font-size: 1.1rem;
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(large) {
            justify-content: flex-start;
        }
    }

    &__link {
        display: inline-block;
        background-color: #404040;
        border-radius: 100%;
        padding: 11px 9px;
        transition: background-color .2s linear;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        &--fatsobiblio:hover {
            background-color: #3b5999;
        }
        &--titivisma:hover {
            background-color: #55acee;
        }
        &--sindesi_mesa:hover {
            background-color: #55acee;
        }
        &--karfitsoste:hover {
            background-color: #bd081c;
        }
        &--phone {
            padding: 7px 8px;
            margin-right: 16px;
        }
        &--viber,
        &--whatsapp,
        &--telegram,
        &--vk {
            padding: 0;
            background: none;
        }
        &--viber {
            margin-right: 12px;
        }
    }

    &__icon {
        fill: #fff;
        height: 20px;

        &--phone {
            fill: none;
            height: 28px;
            position: relative;
            left: 1px;
        }

        &--viber {
            width: 68px;
            height: 68px;
        }

        &--whatsapp {
            width: 68px;
            height: 68px;
        }

        &--telegram {
            width: 58px;
            height: 58px;
        }

        &--vk {
            width: 45px;
            height: 45px;
            position: relative;
            top: 3px;
        }
    }

}