img {
    max-width: 100%;
}

.head-photo {
    img {
        width: 100%;
        margin-bottom: -3px;
    }
    &--small {
        text-align: center;
        img {
            width: auto;
        }
    }
}

.section {

    padding-top: 1rem;
    padding-bottom: 1rem;

    &--dark {
        background-color: $darkblue;
        color: white;
    }

    &--light {
        background-color: $lightblue;
        color: white;
    }

    &--lighter {
        background-color: $lighterblue;
        color: white;
    }

}

.separator {
    display: block;
    width: 100%;
    height: 2rem;
    &--darkblue {
        background-color: $darkblue;
    }
}

.anchor-section {
    display: block;
    height: 30px;
    margin-top: -30px;
    visibility: hidden;
}

.preload {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

iframe {
    display: block;
    max-width: 100%;
    &.centered {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.go-top {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    position: fixed;
    bottom: -43px;
    right: 20px;
    transition: bottom .5s ease, background-color .2s ease;
    background-color: $yellow;
    text-decoration: none;
    box-shadow: 0 0 6px $yellow;
    opacity: .9;
    border-radius: 5px;
    z-index: 10;
    &:hover {
        background-color: $darkyellow;
    }
    &.show {
        bottom: 15px;
    }
    svg {
        position: relative;
        right: 2px;
        bottom: 3px;
    }
}

.msg {
    display: none;
    position: relative;
    background-color: #1de9b6;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 3px -1px $black;

    &__title {
        text-align: center;
        font-size: 2rem;
        margin: 0;
    }

    p {
        font-size: 1.2rem;
        a,
        a:visited,
        a:active {
            color: rgb(0,0,238);
        }
    }

    &__close {
        position: absolute;
        top: 6px;
        right: 6px;
        cursor: pointer;
        svg {
            width: 32px;
            height: 32px;
            stroke: #000;;
        }
    }

    &--fail {
        background-color: #ff6e40;
    }

}

.emergency {
    display: block;
    padding: .1rem 1rem;
    font-weight: bold;
    font-size: 1.15rem;
    background-color: $gray;
    color: $red;
    border-radius: 3px;
    border: 3px solid $red;
    text-decoration: none;
    text-align: center;
    margin: 2.5rem 0 1rem;
    transition: background-color .15s linear, color .15s linear;
    &:hover {
        background-color: $red;
        color: #fff;
    }
    &__cta {
        text-decoration: underline;
        font-size: 1.3rem;
    }
}

.emails {
    &__outer-wrapper {
        text-align: center;
    }
    &__inner-wrapper {
        display: inline-block;
        text-align: center;
        @include breakpoint(small) {
            text-align: left;
        }
    }
}