.page__gallery {

    &-wrapper-of-two {
        display: block;
        @include breakpoint(medium) {
            display: inline-block;
            width: 50%;
        }
    }

    &-item {
        &--of-5 {
            display: none;
            &.show-on-mobile {
                display: block;
                @include breakpoint(medium) {
                    display: inline-block;
                }
            }
            &.first {
                display: block;
                @include breakpoint(medium) {
                    display: inline-block;
                }
            }
            @include breakpoint(medium) {
                display: inline-block;
            }
        }

        &--of-4 {
            display: inline-block;
            width: 50%;
            padding: 0 8px;
            vertical-align: top;
        }
    }

    &-item-link {
        border: 2px solid $lightblue;
        border-radius: 4px;
        box-shadow: 0 10px 10px -12px $darkblue;
        &--content {
            border: 2px solid $yellow;
            box-shadow: 0 10px 10px -12px $darkyellow;
        }

        &--pottery {
            position: relative;
            @include breakpoint(medium) {
                position: static;
            }
        }
    }

    &-item-counter {
        display: inline-block;
        position: absolute;
        color: #fff;
        background-color: rgba(#000000, .6);
        bottom: .2rem;
        right: .2rem;
        border-radius: 2px;
        padding: 5px 10px;
        font-size: 1.3rem;
        
        @include breakpoint(medium) {
            display: none;
        }
    }
    
    &-item-arrow {
        position: absolute;
        display: inline-block;
        bottom: 50%;
        background-color: rgba(#000000, .6);
        border-radius: 100%;
        padding: 0 4px;

        svg {
            width: 30px;
            height: 30px;
            position: relative;
        }
        
        &--left {
            left: .2rem;
            svg {
                top: 3px;
                right: 1px;
            }
        }
        
        &--right {
            right: .2rem;
            svg {
                top: 3px;
                left: 1px;
            }
        }

        @include breakpoint(medium) {
            display: none;
        }
    }

    &-item-img {
        border-radius: 2px;
    }

}
