.page {

    padding: 1.5rem 0;

    &__header {
        text-align: center;
        margin-bottom: 1rem;
        &--no-head-photo {
            margin-top: 1rem;
        }
    }

    &__title {
        font-size: 1.8rem;
        margin-top: 0;
        &--no-subtitle {
            margin-bottom: 0;
        }
        &--cruises {
            list-style-position: 1px;
        }
    }

    &__subtitle {
        font-size: 1.5rem;
        margin: 0;
        &--cruises {
            list-style-position: 1px;
        }
    }

    &__intro {
        font-size: 1.3rem;
        text-align: center;
        line-height: 1.5;
        p {
            margin: 14px 8px;
        }
        &--desc {
            text-align: left;
        }
    }

    &__section {
        padding: .5rem 0;
        &--intro {
            margin-top: -1.5rem;
        }
    }

    &__section-title {
        font-size: 1.5rem;
    }

    &__section-subtitle {
        font-size: 1.25rem;
    }

    &__content {
        padding: 1rem 0;
        line-height: 1.5;
        font-size: 1.2rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
        h3 {
            font-size: 1.3rem;
            padding: 6px 0;
        }
        h5 {
            font-weight: normal;
            font-size: 1.2rem;
        }
        a {
            color: $blue;
            transition: color .1s linear;
            &:visited,
            &:active {
                color: $blue;
            }
            &:hover {
                color: $yellow;
            }
        }

        p,
        ul,
        ol {
            margin-top: 0;
        }

        .covid_19 & {
            h3,
            h4 {
                text-align: center;
            }
            h3 {
                font-size: 1.5rem;
            }
        }
    }

    &__outro {
        font-weight: bold;
        text-align: center;
        font-size: 1.15rem;
    }

}

.page__gallery {

    overflow: hidden;

    &-item {
        display: block;
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
        @include breakpoint(medium) {
            display: inline-block;
            vertical-align: top;
        }
        &--of-4 {
            @include breakpoint(medium) {
                width: 25%;
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        &--of-5 {
            @include breakpoint(medium) {
                width: 20%;
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }

    & &-item-link {
        transition: opacity .2s linear;
        display: block;
        &:hover {
            opacity: .8;
        }
    }

    &-item-img {
        display: block;
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        &--no-link {
            border: 2px solid #3b475e;
            border-radius: 4px;
            box-shadow: 0 10px 10px -12px #27334a;
        }
    }

    &-item-caption {
        margin-top: .5rem;
        line-height: 1.4;
        font-style: italic;
    }

    &--generic {
        text-align: center;
        margin: 2rem 0 0;
        .page__gallery {
            &-item {
                display: inline-block;
                margin: 0;
                &--of-3 {
                    width: 30%;
                    padding-left: 8px;
                    padding-right: 8px;
                    @include breakpoint(small) {
                        width: 25%;
                        padding-left: 16px;
                        padding-right: 16px;
                    }
                    @include breakpoint(medium) {
                        width: 20%;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
            &-item-link {
                border: 0;
                box-shadow: none;
            }
        }
    }

}