.reviews {

    &__intro {
        text-align: center;
    }

    &__content {
        font-size: 1.15rem;
    }

    &__icon {
        display: inline-block;
        text-align: center;
        text-decoration: none;

        &--first {
            @include breakpoint(smaller) {
                margin-right: 12px;
            }
            @include breakpoint(small) {
                margin-right: 50px;
            }
            @include breakpoint(medium) {
                margin-right: 100px;
            }
        }
    }

    &__icon-text {
        color: $black;
        font-weight: bold;
    }

    &__cta {
        text-align: center;
    }

    .flickity-prev-next-button {
        width: 30px;
        height: 30px;
    }

    &__carousel {
        margin-bottom: 1rem;
        min-height: 200px;
    }

    &__carousel-item {
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        width: 100%;
        height: auto;
        @include breakpoint(medium) {
            width: 50%;
            margin-right: 10px;
        }
        @include breakpoint(large) {
            width: 25%;
        }

    }

    &__years-list-heading {
        font-weight: normal;
        text-align: center;
    }

    &__years-list {
        text-align: center;
        list-style: none;
        padding: 0;
    }

    &__years-list-item {
        display: inline-block;
        margin: 0 8px 16px 8px;
    }

    &__years-list-link {
        display: block;
        color: $black;
        padding: 5px 16px;
        text-decoration: none;
        background-color: #ffffff;
        border: 3px solid $yellow;
        font-size: 1.2rem;
        border-radius: 6px;
        transition: background-color .2s linear;
        &:hover {
            background-color: $yellow;
            color: #fff;
        }
    }

    &__list-item-content {
        font-size: 1.15rem;
        line-height: 1.5;
        p {
            padding: 8px;
            &:nth-child(2n) {
                background-color: #ebebeb;
                border-radius: 5px;
            }
        }
    }

    &__go-to-top {
        margin: 2rem 0;
    }

    &__go-to-top-link {
        background-color: $blue;
        padding: 8px 12px;
        color: #fff;
        text-decoration: none;
        border-radius: 6px;
        font-size: 1.1rem;
        transition:  background-color .1s linear;
        &:hover {
            background-color: $yellow;
        }
    }

    &__go-to-top-arrow {
        position: relative;
        bottom: 3px;
    }

}