{%- unless include.show_header == false -%}
    <header class="tour-form__header">
        <div class="container">
            For additional information about this excursion / prices / cost / extensions / or to make future reservations, please submit an online request. If you book now, your PRIVATE SHORE EXCURSION will be confirmed within 24 hours.
        </div>
    </header>
{%- endunless -%}

<div class="tour-form__form-wrapper{% if include.classes %} {{ include.classes }}{% endif %}">
    <div class="container">
        <header class="tour-form__form-header">
            BOOKING DEPOSIT - PRE PAYMENT NOT REQUIRED
        </header>
        <div class="form tour-form__form">
            <div class="form__body tablet-only tablet-only--block">

                <form class="a-contact-form" method="POST" name="sendmail" action="sendmail-contact.php">
                    <input type="hidden" name="meli_dio" autocomplete="off">

                    <input type="hidden" name="from_page" value="{{ include.from_page | upcase }}">
                    <input type="hidden" name="return_to" value="{{ include.return_to | remove: '/' }}">

                    <div class="form__group">
                        <label class="form__label" for="first_name">First Name* :</label>
                        <input class="form__input form__input--text" type="text" name="first_name" required>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="last_name">Last Name* :</label>
                        <input class="form__input form__input--text" type="text" name="last_name" required>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="city_state_zip">City/State/Country* :</label>
                        <input class="form__input form__input--text" type="text" name="city_state_zip" required>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="phone_fax">Phone/Fax* :</label>
                        <input class="form__input form__input--text" type="text" name="phone_fax" required>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="e_mail">E-mail* :</label>
                        <input class="form__input form__input--text" type="email" name="e_mail" required>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="">Shore Excursion Date* :</label>
                        <select class="form__input form__input--select form__inline" name="date_month" required>
                            <option value=""></option>
                            <option value="Jan">January</option>
                            <option value="Feb">February</option>
                            <option value="Mar">March</option>
                            <option value="Apr">April</option>
                            <option value="May">May</option>
                            <option value="Jun">June</option>
                            <option value="Jul">July</option>
                            <option value="Aug">August</option>
                            <option value="Sep">September</option>
                            <option value="Oct">October</option>
                            <option value="Nov">November</option>
                            <option value="Dec">December</option>
                        </select>
                        &nbsp;/&nbsp;
                        <select class="form__input form__input--select form__inline" name="date_date" required>
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                        <select class="form__input form__input--select form__inline form__input--year" id="year-input" name="date_year" required>
                        </select>
                        <!-- <input class="form__input form__input--text form__input--year form__inline ml-half-rem" id="year-input" type="text" name="date_year"> -->
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="cruise_ship">Cruise Ship* :</label>
                        <input class="form__input form__input--text" type="text" name="cruise_ship" required>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="speaking_language">Driver must be able to speak* :</label>
                        <div class="form__row">
                            <div class="form__radio-group">
                                <input type="radio" value="English" checked name="speaking_language" id="speaking_language--en">
                                <label for="fp5">&nbsp;English</label>
                            </div>
                            <div class="form__radio-group">
                                <input type="radio" value="German" name="speaking_language" id="speaking_language--de">
                                <label for="fp8">&nbsp;German</label>
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__radio-group">
                                <input type="radio" value="French" name="speaking_language" id="speaking_language--fr">
                                <label for="fp6">&nbsp;French</label>
                            </div>
                            <div class="form__radio-group">
                                <input type="radio" value="Italian" name="speaking_language" id="speaking_language--it">
                                <label for="fp9">&nbsp;Italian</label>
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__radio-group">
                                <input type="radio" value="Spanish" name="speaking_language" id="speaking_language--es">
                                <label for="fp7">&nbsp;Spanish</label>
                            </div>
                        </div>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="party_num">Number in party* :</label>
                        <input class="form__input form__input--text w-10-rem" type="text" name="party_num" required>
                    </div>

                    <div class="form__group">
                        <label class="form__label" for="comments">Comments: <span class="mobile-only mobile-only--inline">Please include:<br>"Tour Start Location" and "Tour Date"</span></label>
                        <textarea class="form__input form__input--textarea" name="comments" cols="30" rows="3"></textarea>
                    </div>

                    <p>
                        * : required fields
                    </p>

                    <label class="visuallyhidden">
                        <input type="checkbox" name="meli_tria" tabindex="-1" autocomplete="off"> A meli field
                    </label>

                    <div class="g-recaptcha" data-sitekey="6LdjidsZAAAAAE-HVQWObThWTeb2FUi8y3G_izCZ"></div>
                    <br/>

                    <button type="submit" class="form__submit">
                        Send
                    </button>
                </form>

            </div>

            {%- if page.id == 'contact' -%}
                {%- assign mobile_page_from = 'Contact Page - Mobile' -%}
            {%- else -%}
                {%- assign mobile_page_from = page.title | append: ' - Mobile' -%}
            {%- endif -%}

            {%- include partials/tour/form-mobile.html mobile_from_page=mobile_page_from return_to=page.url -%}
        </div>
    </div>
</div>
