---
layout: default
---

{%- if page.head_photo and page.head_photo.img.size > 0 -%}
    <section class="head-photo head-photo--page head-photo--{{ page.type }}">
        {%- if page.head_photo.mobile and page.head_photo.mobile.size > 0 -%} 
          <picture>
            <source srcset="{{- page.head_photo.mobile | relative_url -}}"
                    media="(max-width: 576px)">
            <img src="{{- page.head_photo.img | relative_url -}}" alt="{{- page.head_photo.alt_text -}}" class="head-photo__img">
          </picture>
        {%- else -%}
          <img src="{{- page.head_photo.img | relative_url -}}" alt="{{- page.head_photo.alt_text -}}" class="head-photo__img">
        {%- endif -%}
    </section>
{%- endif -%}

<div class="separator"></div>

<section class="section section--home section--dark">
    <div class="container home__tours-container">
        
        {%- if page.title.size > 0 or page.subtitle.size > 0 -%}
            <div class="page__header">
            {%- if page.title.size > 0 -%}
                <h1 class=" page__title--cruises{% if has_subtitle == false %} page__title--no-subtitle{% endif %}">
                {{- page.title -}}
                </h1>
            {%- endif -%}
            {%- if page.subtitle.size > 0 -%}
                <h2 class="page__subtitle page__subtitle--cruises">
                {{- page.subtitle -}}
                </h2>
            {%- endif -%}
            </div>
        {%- endif -%}
        <div class="home__tours-items grid">
            {%- for tour in site.data.tours -%}
                <div class="home__tour-wrapper col col--1-3">
                    <div class="home__tour">
                        <div class="home__tour-img-wrapper">
                            <a href="{{- tour.url | relative_url -}}" class="home__tour-img-link">
                                <img src="{{- tour.thumb.img | relative_url -}}" alt="{{- tour.thumb.alt_text -}}" class="home__tour-img">
                            </a>
                        </div>
                        <div class="home__tour-text">
                            <h3 class="home__tour-title home__tour-title--cruises">
                                <a href="{{- tour.url | relative_url -}}" class="home__tour-title-link">
                                    {{- tour.title -}}
                                </a>
                            </h3>
                            <p class="home__tour-desc">
                                {{ tour.desc }}
                            </p>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>

<div class="separator"></div>

{%- if page.has_destinations == true -%}
  {%- include partials/destinations.html -%}
{%- endif -%}

{%- if page.has_banners == true -%}
  {%- include_cached partials/banners.html -%}
{%- endif -%}