---
layout: page
---

{%- assign sections_size = page.sections | size -%}    
{%- if sections_size > 0 -%}
    {%- for section in page.sections -%}
        {%- if section.title and section.title.size > 0 -%}
            {%- assign section_has_title = true -%}
        {%- else -%}
            {%- assign section_has_title = false -%}
        {%- endif -%}
        {%- if section.subtitle and section.subtitle.size > 0 -%}
            {%- assign section_has_subtitle = true -%}
        {%- else -%}
            {%- assign section_has_subtitle = false -%}
        {%- endif -%}
        {%- if section_has_title == false and section_has_subtitle == false -%}
            {%- assign no_titles = true -%}
        {%- else -%}
            {%- assign no_titles = false -%}
        {%- endif -%}
        <div class="page__section{% if forloop.first and no_titles == true %} page__section--intro{% endif %}">
            {%- if section_has_title == true -%}
                <h2 class="page__section-title">
                    {{- section.title -}}
                </h2>
            {%- endif -%}
            {%- if section_has_subtitle == true -%}
                <h3 class="page__section-subtitle">
                    {{- section.subtitle -}}
                </h3>
            {%- endif -%}
            {%- if section.description and section.description.size > 0 -%}
                <p class="centered page__section-description">
                    {{- section.description -}}
                </p>
            {%- endif -%}
            {%- if section.text and section.text.size > 0 -%}
                <div class="page__section-text">
                    {{ section.text | markdownify }}
                </div>
            {%- endif -%}
            {%- if section.gallery -%}
                {%- assign gallery_size = section.gallery.items | size -%}
                {%- if gallery_size > 0 -%}
                    {%- include partials/page-gallery.html the_gallery = section.gallery -%}
                {%- endif -%}
            {%- endif -%}
            {%- if section.gallery2 -%}
                {%- assign gallery2_size = section.gallery2.items | size -%}
                {%- if gallery2_size > 0 -%}
                    {%- include partials/page-gallery.html the_gallery = section.gallery2 -%}
                {%- endif -%}
            {%- endif -%}
            {%- if section.footer_text and section.footer_text.size > 0 -%}
                {{ section.footer_text | markdownify }}
            {%- endif -%}
        </div>
    {%- endfor -%}
{%- endif -%}
