---
layout: default
---

{%- if page.head_photo and page.head_photo.img.size > 0 -%}
    <section class="head-photo head-photo--page head-photo--{{ page.type }}">
        {%- if page.head_photo.mobile and page.head_photo.mobile.size > 0 -%}
          <picture>
            <source type="image/webp" srcset="{{- page.head_photo.mobile_webp | relative_url -}}" media="(max-width: 576px)">
            <source type="image/jpeg" srcset="{{- page.head_photo.mobile | relative_url -}}" media="(max-width: 576px)">
            <source type="image/webp" srcset="{{- page.head_photo.img_webp | relative_url -}}">
            <source type="image/jpeg" srcset="{{- page.head_photo.img | relative_url -}}">
            <img src="{{- page.head_photo.img | relative_url -}}" alt="{{- page.head_photo.alt_text -}}" class="head-photo__img" width="2000" height="468" style="max-width: 100%; height: auto; background-image: url('{%- include base64/home-head-photo.html -%}'); background-repeat: no-repeat; background-size: cover;">
          </picture>
        {%- else -%}
          <img src="{{- page.head_photo.img | relative_url -}}" alt="{{- page.head_photo.alt_text -}}" class="head-photo__img" width="2000" height="468" style="max-width: 100%; height: auto; background-image: url('{%- include base64/home-head-photo.html -%}'); background-repeat: no-repeat; background-size: cover;">
        {%- endif -%}
    </section>
{%- endif -%}

<section class="section section--home section--dark">
    <div class="container home__tours-container">
        <div class="home__intro">
            {{ page.intro | markdownify }}
        </div>
        <div class="home__tours-items grid">
            {%- for tour in site.data.tours -%}
                <div class="home__tour-wrapper col col--1-3">
                    <div class="home__tour">
                        <div class="home__tour-img-wrapper">
                            <a href="{{- tour.url | relative_url -}}" class="home__tour-img-link">
                                <picture>
                                    <source srcset="{{- tour.thumb.webp_img | relative_url -}}" type="image/webp">
                                    <source srcset="{{- tour.thumb.img | relative_url -}}" type="image/jpeg">
                                    <img src="{{- tour.thumb.img | relative_url -}}" alt="{{- tour.thumb.alt_text -}}" class="home__tour-img" width="427" height="320" style="max-width: 100%; height: auto; background-color: #72b8fe">
                                </picture>
                            </a>
                        </div>
                        <div class="home__tour-text">
                            <h3 class="home__tour-title">
                                <a href="{{- tour.url | relative_url -}}" class="home__tour-title-link">
                                    {{- tour.title -}}
                                </a>
                            </h3>
                            {%- if tour.duration and tour.duration.size > 0 -%}
                                <p class="home__tour-duration">
                                    {{ tour.duration }}
                                </p>
                        {%- endif -%}
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>

<section class="section section--home">
    <div class="container home__tours-container">
        <div class="home__content">
            {{ content }}
        </div>
    </div>
</section>

{%- include partials/destinations.html -%}

{%- include_cached partials/banners.html -%}
