---
layout: default
---

{%- include years-of-xp.html -%}

{%- capture xp_text -%}{{ years_of_xp }} Years of Quality Shore Excursions 1984 - {{ current_year }}{%- endcapture -%}

<div id="msg" class="msg container _mt-2rem"></div>
<div class="page__header tour__header">
    <div class="container">

        {%- if page.intro and page.intro.size > 0 -%}
            {%- assign no_intro = false -%}
        {%- else -%}
            {%- assign no_intro = true -%}
        {%- endif -%}
        <h1 class="page__title tour__title{% if no_intro == true %} tour__title--no-intro{% endif %}">
            “{{- page.title -}}”
        </h1>
        {%- if page.intro and page.intro.size > 0 -%}
            <div class="page__intro tour__intro">
                {{ page.intro | markdownify }}
            </div>
        {%- endif -%}
    </div>
</div>

<div class="tour__content-wrapper">

    <article class="page{% if page.type and page.type.size > 0 %} {{ page.type }} {% endif %}tour__main{% if page.outro and page.outro.size > 0 %} tour__main--with-outro{% endif %}">

        <div class="tour__nav">
            <div class="container">
                <ul class="tour__nav-titles">
                    <li class="tour__nav-title">
                        <a href="#itinerary" class="tour__nav-anchor tour__nav-anchor--first hide-on-desktop">
                            Itinerary
                        </a>
                        <a href="#itinerary" class="tour__nav-anchor tour__nav-anchor--first desktop-only desktop-only--block">
                            Excursion Itinerary
                        </a>
                    </li>
                    {%- if page.route_map.title and page.route_map.title.size > 0 -%}
                        <li class="tour__nav-title">
                            <a href="#route-map" class="tour__nav-anchor hide-on-desktop">
                                Map
                            </a>
                            <a href="#route-map" class="tour__nav-anchor desktop-only desktop-only--block">
                                Route Map
                            </a>
                        </li>
                    {%- endif -%}
                    {%- if page.useful.title and page.useful.title.size > 0 -%}
                        <li class="tour__nav-title">
                            <a href="#useful-info" class="tour__nav-anchor hide-on-desktop">
                                Info
                            </a>
                            <a href="#useful-info" class="tour__nav-anchor desktop-only desktop-only--block">
                                Useful Info
                            </a>
                        </li>
                    {%- endif -%}
                    <li class="tour__nav-title">
                        <a href="#inclusions" class="tour__nav-anchor">
                            Inclusions
                        </a>
                    </li>
                    <li class="tour__nav-title">
                        <a href="#request" class="tour__nav-anchor">
                            Request
                        </a>
                    </li>
                    <li class="tour__nav-title tour__nav-title--last">
                        <a href="#gallery" class="tour__nav-anchor">
                            Gallery
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page__content tour__content">

            <div class="tour__sections">

                <section class="tour__section tour__section--itinerary" id="itinerary">
                    <div class="container">
                        {%- assign has_itinerary_heading = false -%}
                        {%- assign has_itinerary_desc = false -%}
                        {%- assign no_headings = false -%}

                        {%- if page.itinerary.heading and page.itinerary.heading.size > 0 -%}
                            {%- assign has_itinerary_heading = true -%}
                        {%- endif -%}
                        {%- if page.itinerary.description and page.itinerary.description.size > 0 -%}
                            {%- assign has_itinerary_desc = true -%}
                        {%- endif -%}

                        {%- if has_itinerary_heading == false and has_itinerary_desc == false -%}
                            {%- assign no_headings = true -%}
                        {%- endif -%}

                        {%- if page.itinerary.title and page.itinerary.title.size > 0 -%}
                            <h2 class="tour__section-header{% if no_headings == true %} tour__section-header--no-headings{% endif %}">
                                {{- page.itinerary.title -}}
                            </h2>
                        {%- endif -%}

                        {%- if has_itinerary_heading == true or has_itinerary_desc == true -%}
                            <div class="tour__section-headings">
                                {%- if has_itinerary_heading == true -%}
                                    <h3 class="tour__section-heading">
                                        {{- page.itinerary.heading -}}
                                    </h3>
                                {%- endif -%}
                                {%- if has_itinerary_desc == true -%}
                                    <p class="tour__section-description">
                                        {{- page.itinerary.description -}}
                                    </p>
                                {%- endif -%}
                            </div>
                        {%- endif -%}

                        <div class="tour__section-content tour__section-content--md">
                            {{ content }}
                        </div>

                        <div class="tour__section-separator tour__section-separator--thin"></div>

                        <div class="tour__section-details">
                            {{ page.itinerary.details | markdownify }}
                        </div>
                    </div>
                </section>

                {%- if page.route_map.title and page.route_map.title.size > 0 -%}
                    <div class="tour__section-separator"></div>

                    <section class="tour__section tour__section--route-map" id="route-map">
                        <div class="container">
                            <h2 class="tour__section-header">
                                {{- page.route_map.title -}}
                            </h2>

                            <div class="tour__section-headings">
                                <p class="tour__section-description centered">
                                    {{- page.route_map.description -}}
                                </p>
                            </div>

                            <div class="tour__section-content">
                                <div class="tour__section-route-map-wrapper">
                                    <a data-fancybox="route-map" class="tour__section-route-map-link" href="{{- page.route_map.map.path | relative_url -}}">
                                        <img src="{{- page.route_map.map.path | relative_url -}}" alt="page.route_map.map.alt" class="tour__section-route-map-img">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                {%- endif -%}

                {%- if page.useful.title and page.useful.title.size > 0 -%}
                    <div class="tour__section-separator"></div>

                    <section class="tour__section tour__section--useful" id="useful-info">
                        <div class="container">
                            <h2 class="tour__section-header">
                                {{- page.useful.title -}}
                            </h2>
                            <div class="tour__section-content">
                                {{ page.useful.text | markdownify }}
                            </div>
                        </div>
                    </section>
                {%- endif -%}

                <div class="tour__section-separator"></div>

                <section class="tour__section tour__section--inclusions" id="inclusions">
                    <div class="container">
                        <div class="tour__inclusions-wrapper">
                            <h2 class="tour__section-header">
                                {{- page.inclusions.title -}}
                            </h2>
                            <div class="tour__section-content">
                                {%- for item in page.inclusions.included -%}
                                    <div class="tour__inclusion-item">
                                        <span class="tour__inclusion-item-icon">
                                            {%- include svg/done.html -%}
                                        </span>
                                        <span class="tour__inclusion-item-desc">
                                            {{- item -}}
                                        </span>
                                    </div>
                                {%- endfor -%}
                            </div>
                        </div>
                        {%- assign not_included_size = page.inclusions.not_included | size -%}
                        {%- if not_included_size > 0 -%}
                            <div class="tour__inclusions-wrapper">
                                <h2 class="tour__section-header tour__section-header--exclusions">
                                    Exclusions
                                </h2>
                                <div class="tour__section-content">
                                    {%- for item in page.inclusions.not_included -%}
                                        <div class="tour__inclusion-item">
                                            <span class="tour__inclusion-item-icon">
                                                {%- include svg/clear.html -%}
                                            </span>
                                            <span class="tour__inclusion-item-desc">
                                                {{- item -}}
                                            </span>
                                        </div>
                                    {%- endfor -%}
                                </div>
                            </div>
                        {%- endif -%}
                        {%- if page.inclusions.footer and page.inclusions.footer.size > 0 -%}
                            <p class="oblique _mt-1rem">
                                {{ page.inclusions.footer }}
                            </p>
                        {%- endif -%}
                    </div>
                </section>

                {%- if page.id == 'contact' -%}
                    {%- assign page_from = 'Contact Page' -%}
                {%- else -%}
                    {%- assign page_from = page.title -%}
                {%- endif -%}

                <section class="tour__section tour-form" id="request">
                    {%- include partials/tour/form.html from_page=page_from return_to=page.url -%}
                </section>

                <div class="tour__section-separator"></div>

                <section class="tour__section tour__section--gallery" id="gallery">
                    <h2 class="tour__section-header">
                        {{- page.gallery.title -}}
                    </h2>
                    <div class="tour__section-content">
                        {%- include partials/tour/gallery.html -%}
                    </div>
                </section>

            </div> {%- comment -%} tour__sections {%- endcomment -%}

        </div>

    </article>

    <div class="tour__section-separator hide-on-large-desktop"></div>

    <aside class="tour__aside">
        <div class="container">
            <h3 class="tour-aside__title">
                <a href="{{- 'experience.htm' | relative_url -}}" class="tour-aside__title-link">
                    {{- xp_text -}}
                </a>
            </h3>
            <div class="tour-aside__content">
                <p>
                    <a class="tour-aside__btn-link" href="{{- 'worry_free.htm' | relative_url -}}">
                        Guaranteed Return to Ship
                    </a>
                </p>
                <p>
                    <a class="tour-aside__btn-link" href="{{- 'Independent_greece.htm' | relative_url -}}">
                        Book with Confidence
                    </a>
                </p>
                <p>
                    <a class="tour-aside__btn-link" href="{{- 'reviews_tripadvisor.htm' | relative_url -}}">
                        Reviews & Comments
                    </a>
                </p>
            </div>
            <div class="tour-aside__block">
                <h4 class="tour-aside__block-title">
                    MORE SHORE EXCURSIONS
                </h4>
                <div class="tour-aside__block-content">
                    <ul>
                        {%- for tour in site.data.tours -%}
                            {%- unless tour.id == page.id -%}
                                <li>
                                    <a href="{{- tour.url | relative_url -}}">
                                        {{- tour.title -}}
                                    </a>
                                </li>
                            {%- endunless -%}
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
            <div class="tour-aside__block">
                <h4 class="tour-aside__block-title">
                    RECOMMENDED BY
                </h4>
                <div class="tour-aside__block-content tour-aside__block-content--alt">
                    <p>
                        <a class="tour-aside__btn-link tour-aside__btn-link--alt" href="{{- 'rick_steves.htm' | relative_url -}}">
                            Rick Steves' Europe
                        </a>
                    </p>
                    <p>
                        <a class="tour-aside__btn-link tour-aside__btn-link--alt" href="{{- 'Matt_Barrett.htm' | relative_url -}}">
                            Greece Travel Guide
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </aside>

</div>

{%- if page.outro and page.outro.size > 0 -%}
    <div class="container">
        <h3 class="tour__outro">{{ page.outro }}</h3>
    </div>
{%- endif -%}